__pycache__
*.pt
*.pkl
*.png
*.log
*.json
*.joblib
*.svg
*.txt
.python-version
label.csv
duration_frame.csv

data
is_useful/stats
is_useful/videos
is_useful/label
is_useful/frame
is_useful/test_data
log
is_useful/2D/frame
is_useful/2D/results
dataset/old
tmp