data
exp
is_useful/stats
is_useful/videos
is_useful/label
is_useful/frame
is_useful/test_data
log
__pycache__
*.log
.python-version
label.csv
2D
*.pt
*.pkl
*.png
caption/tmp
duration_frame.csv
dataset/training
dataset/testing
dataset/validation